/* docs/.vitepress/theme/style.css */
/* 引入 UnoCSS 重置样式 */
@import '@unocss/reset/tailwind.css';

:root {
  --vp-c-bg: #ffffff;
  --vp-c-bg-alt: #f9fafb;
}

.dark {
  --vp-c-bg: #09090b; /* zinc-950 */
  --vp-c-bg-alt: #18181b; /* zinc-900 */
}

body {
  background-color: var(--vp-c-bg-alt);
  color: #3f3f46;
  font-family: 'Inter', system-ui, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.dark body {
  color: #a1a1aa;
}

/* 页面切换动画 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}